<!DOCTYPE html>
<html lang="en">
  <%- include('../particals/head')%>

  <body>
    <div id="wrapper">
      <%- include('../particals/header')%> <%-
      include('../particals/navigation')%>

      <main><%- body %></main>

      <%- include('../particals/footer')%>
    </div>
  </body>
</html>
